<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body style="background-color: rgb(182, 247, 217);">
    <div class="my-3 mx-6" >
        <div class="flex gap-2 py-4 justify-between">
            <div><b><h4 class="text-xl">My Elections <span class="bg-blue-100 ml-2 px-2"> <%= elections_list.length %> </span></h4></b></div>
            <div><b><h4 class="text-xl font-bold">Welcome <%= userName %></h4></b>
        </div>  
            <div class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">
                <a href="/addquestion" class="text-white">Create Election</a>
            </div>
            <div class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-5 py-2">
                <a href="/signout" > Signout</a>
            </div>
        </div>
        <div class="mt-4 bg-white shadow-md rounded-lg text-left" style="background-color: skyblue;">
            <%- include('electionslist.ejs') %>
        </div>
    </div>
        </div>
    </div>
</body>
</html>